// Custom styles.

.teorema {
    border-radius: 5px;
    background-color: #f1f6f5;
    padding: 1em;
    margin-bottom: 2em;
}

.definicion {
    border-radius: 5px;
    background-color: #f1f6f5;
    padding: 1em;
    margin-bottom: 2em;
}

.prueba {
    border-radius: 5px;
    background-color: #f1f6f5;
    padding: 1em;
    margin-bottom: 2em;
}

.ejercicio {
    border-radius: 5px;
    background-color: #f1f6f5;
    padding: 1em;
    margin-bottom: 2em;
}

.ejemplo {
    border-radius: 5px;
    background-color: #f1f6f5;
    padding: 1em;
    margin-bottom: 2em;
}

.proposicion {
    border-radius: 5px;
    background-color: #f1f6f5;
    padding: 1em;
    margin-bottom: 2em;
}

.lema {
    border-radius: 5px;
    background-color: #f1f6f5;
    padding: 1em;
    margin-bottom: 2em;
}

.nota {
    border-radius: 5px;
    background-color: #f1f6f5;
    padding: 1em;
    margin-bottom: 2em;
}

.teorema:before {
    content: "Teorema: ";
    font-weight: bold;
}

.nota:before {
    content: "Nota: ";
    font-weight: bold;
}

.nota:after {
    content: '\0025A0';
    text-align: right;
}

.lema:before {
    content: "Lema: ";
    font-weight: bold;
}

.definicion:before {
    content: "Definición: ";
    font-weight: bold;
}

.prueba:before {
    content: "Demostración: ";
    font-weight: bold;
}

.prueba:after {
    content: 'QED';
}

.ejercicio:before {
    content: "Ejercicio: ";
    font-weight: bold;
}

.ejemplo:before {
    content: "Ejemplo: ";
    font-weight: bold;
}

.proposicion:before {
    content: "Proposición: ";
    font-weight: bold;
}